html, body {
    margin: 0;
    padding: 0;
}

#holder {
    margin: 20px auto;
    width: 700px;
}

.image-viewer__view {
    display: block;
    background-color: #d7dcdd;
    touch-action: none;
}
